.container{
    margin: 1rem auto;
}

.hide{
    display: none !important;
}

#error{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    background-color: rgba(110, 7, 7, 0.781);
    font-weight: bold;
    color:white;
    text-align: center;
    padding: 1rem;
}

.btn-container{
    display: flex;
    justify-content: space-between;
}

.btn-right-container{
    display: flex;
    justify-content: end;
}

